<div class="container mt-4 mb-4">
<h3>Edit Recipe</h3>

<div>
	<%= form_for @recipe do |form| %>
		<% if @recipe.errors.any? %>
			<h5>Form is invalid</h5>
			<ul>
				<% @recipe.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			</ul>
			<% end %>
		<% end %>

		<%= render partial: '/recipes/form', object: form %>
		<br>
		<div class="actions">
			<%= form.submit "Update Recipe", class:"btn btn-outline-dark" %>
			<!-- <br><br> -->
			<%= link_to "Back", recipe_path(@recipe.id), class: "btn btn-outline-secondary" %>		
		</div>
	<% end %>
</div>