<div class="container mt-4 mb-4">
<h3>Edit your profile</h3>

	<% if @user.errors.any? %>
		<h5>Form is invalid</h5>
		<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<div>
	  <%= form_for @user do |form| %>

	  <%= render partial: '/users/form', object: form %>

	  <div class="actions">
			<%= form.submit "Update Details", class: "btn btn-outline-dark" %>
			<%= link_to "Back", user_path(current_user), class: "btn btn-outline-secondary" %>
		</div>
		<% end %>
	</div>
</div>