<h1>Sign Up</h1>

 <div>
  <%= form_for @user do |form| %>
	<% if @user.errors.any? %>
		<h5>Form is invalid</h5>
		<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

    <%= render partial: '/users/form', object: form %>

    <div class="actions">
			<%= form.submit "Sign Up" %>
		</div>
	<% end %>
	</div>

<%= link_to "Sign in with Facebook", "/auth/facebook" %> <br>
<%= link_to "Log In with Google", "/auth/google_oauth2" %>