<!DOCTYPE html>
<html>
  <head>
    <title>Recook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div>
			<% if logged_in? %>
				<%= link_to "Log Out", session_path(current_user), method: :delete %>
			<% else %>
				<%= link_to "Sign Up", new_user_path %>
				<%= link_to "Log In", new_session_path %>
			<% end %>
		</div>

  	<div class="container">
	    <div id="flash">
	    <% flash.each do |key, value| -%>
	      <div id="flash_<%= key %>"><%=h value %></div>
	    <% end %>
	    </div>
		</div>

		<%= yield %>
  </body>
</html>
